body{
    background-color: #000;
    color:#fff;
    display: grid;
    grid-template-columns: auto, 800px, auto;
}

#mainTitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: blue;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

#mainCharacter{
    left: 0px;
    top: 151px;
}

#statue{
    width: 38px;
    height: 72px;
    left: 95px;
    top: 8px;
}

#grave1{
    width: 26px;
    height: 45px;
    left: 19px;
    top: 45px;
}

.gameObject{
    position: absolute;
    transition: all 1s ease-in-out;
    background-color: #fff;
}

.foreground{
    z-index: 1000;
}

.character{
    z-index: 100;
}

.background{
    z-index: 0;
}